* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* NAV */

.logoHeader {
    width: 40%;
    border-radius:50%;
}

ul li {
    list-style: none;
}


ul .nav-link {
    padding: 20px;
}

ul .nav-link:hover {
    color: #A6823F;
    background-color: white;
    border-radius: 100px;
}

 /* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin-top: 70px;

}

main img {
    width: 100%;
    height: 100%;
}

 /* SECTION */

section {
    background-color: #13261F;
}

section #sobre {
    padding: 100px 50px 50px 50px;
   
    font-family: 'Lexend', sans-serif;
    font-size: small;
    line-height: 1.5;
    text-align: justify;
    
    color: #BF8845;
}

section #sobre img {
    width: 100%;
}

 /* FOOTER */

footer {
    background-color: #A6823F;
}

footer img {
    width: 35px;
}

footer #logo {
    width: auto;
}

footer a {
    text-decoration: none;
    color: #13261F;

    padding: 10px;
    
}

footer a:hover {
    color: whitesmoke;
    background-color:  #13261F;
    border-radius: 100px;
}



    /* ADM */

#adm {
    background-color: #13261F;
    width: 100%;
    height: 450px;
    padding: 20px;
    margin-top: 80px;

    
}



.logoADM {
    width: auto;
    border-radius: 10px;
}
